body{
  margin: 0;
}

.colo-body{
  height: 100hv;
  background-color: #f8f8f8;
}

.font{
  font-family: "Almarai",sans-serif;
  font-size: 15px;
}

.btn-color{
  border: none;
  border-radius: 8px;
  padding: 8px ;
  color: white;
  background-color: #224f61;
}
